
body {
	width:68%;
	min-width:900px;
	max-width:1050px;
	height:750px;
	min-height:600px;
	max-height:750px;
	font-family:Verdana, Times New Roman, Sans-Serif;
	font-weight:normal;
	font-size:16px;
	margin:0px auto; /*TRBL*/
	border:1px solid black;
}

p {
  text-align: justify;	
}
.highlight {
	float: left;
	height: 100px;
	margin-left: 20px;
	margin-right: 20px;
}

/*p {
	padding-left:  20px;
	padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}*/
#ProfilePic {
	height:200px;
	float: right;
	margin-left: 50px;
	margin-right: 20px;
}

img.himg2 {
  background-color: #BBB59B;
  background-color: #E6E4DB;
  width: 150px;
}