<!DOCTYPE html>
<html>

	<head>
		<title> Peng "Patrick" Su Homepage</title>
		<link href="static/css/style.css" rel="STYLESHEET" type="text/css" />
	</head>

	<body>
		<div class="container">
		<h4>Peng "Patrick" Su, Ph.D.</h4>
		<hr>
		<img src="static/images/Profile_Pic.jpg" id="ProfilePic" />

		<p>
		I am a Transportation Systems Engineer and Research Scientist with Leidos. Inc. I received my Ph.D. degree in Intelligent Transportation Systems from the Department of Civil and Environmental Engineering at the University of Virginia and BS degree from the Zhejiang University. My area of expertise includes multiagent based simulations, vehicle longitudinal and lane-changing decision making, and travel demand forecasting. Currently I am on leave without pay and enrolled in the Computer Science Master's Program in the University of Texas at Austin, focused on machine learning (computer vision, natural language processing). My goal is creating a safer, smarter, more efficient, and more comfortable transportation system leveraging my knowledge from ITS and machine learning. 
		</p>
		</div>


		<div class="container">
		<h4>Highlights</h4>
		<hr>
			<div style="text-align: center">

				<div class="highlight">
					<div class="hcell">
						<a href="https://www.kaggle.com/c/youtube8m/"> 
						<div class="himg"><img src="static/images/youtube8m.png" class = "himg2"/></div>
						<div class="hdesc">Youtube8M</div>
						</a>
					</div>
				</div>

				<div class="highlight">
					<div class="hcell">
					<a href="https://www.itsforge.net/index.php/community/explore-applications/for-search-results#/31/96">
					<div class="himg"><img src="aicare.jpg" /></div>
					<div class="hdesc">CACC Simulation</div>
					</a>
					</div>
				</div>

			</div>
		</div>



	</body>
</html>